<div class="bg-gray-100 p-4">
 <% if user_signed_in? %>
    <% @posts.each do |post| %>
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div class="bg-white border rounded-sm max-w-md">
            <div class="flex items-center px-4 py-3">
                <%= link_to image_tag(current_user.image), profile_path(current_user.username) if current_user.image.present?  %>
                <strong><%= link_to post.user.username, profile_path(post.user.username) %></strong>
            </div>
                <div class="post-date mt-1">
		    	    <span class="text-xs text-gray-900">
		    		    <%= time_ago_in_words post.created_at%>
		    	    </span>
		        </div>
            <p>
               <% if post.image.attached?%>
               <%= link_to image_tag(post.thumbnail, class: "overflow-hidden"), edit_post_path(post) %>
               <% end %>
            </p>
                <div class="post-actions flex items-center justify-between mx-4 mt-3 mb-2">
                    <div class="flex gap-5">
                        <%= link_to like_post_path(post),  class:"like-button-#{post.id}", method: :put, remote: :true do %>
                            <div>
                              <i class="fas fa-heart fa-2x <%= 'liked' if current_user.liked?(post) %>"></i>
                            </div>
                        <% end %>
                        <span class="likes-count"><%= post.get_upvotes.size %></span>
                        <%= link_to post_path(post.id) do %>
                            <i class="far fa-comment fa-2x"></i>
                        <% end %>
                    </div>
                </div>
            <div class="font-semibold text-sm mx-4 mt-2 mb-4">
                <p>
                    <%= post.caption%>
                </p>
                <div id="comment_pane" class=" comment-box " >
                    <%= render "posts/comments", post: post %>
                </div>
            </div>
            <div class="bottom border-t pt-3 mt-3">
                <%= form_for Comment.new do |f| %>
                <%= f.hidden_field :post_id, value: post.id %>
                <%= f.text_field :body, placeholder: "add comment here ..." %>
                <%= f.submit "Post", class: "comment-button text-blue-500 opacity-75 w-2/12 text-center font-bold" %>
            <% end %>                
            </div>

        </div>    
    </div>
    <% end %>

    <% end %>
</div>
    
    
   
    
    
    
    
    
    
    
  
  
   










